<nav class="navbar">
  <div class="navbar-container">
    <a routerLink="/" class="navbar-brand">Mi Portafolio</a>

    <ul class="navbar-menu">
      <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="/projects" routerLinkActive="active">Proyectos</a></li>
      <li><a routerLink="/skills" routerLinkActive="active">Habilidades</a></li>
      <li><a routerLink="/about" routerLinkActive="active">Sobre mi</a></li>
      <li><a routerLink="/languages" routerLinkActive="active">Idiomas</a></li>
      <li><a routerLink="/education" routerLinkActive="active">Educacion</a></li>
      <li><a routerLink="/work-experience" routerLinkActive="active">Experiencia Laboral</a></li>
    </ul>
  </div>
</nav>
